body, html{
    height:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-size:20px;
}

body{
    background-image:url(../img/antholoy_bg.jpg);
    background-size:cover;
    background-position: center;
}

.container{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}

.container .logo{
    width: 100%;
    max-width:920px;
    padding:1rem;
}

.container .logo img{
    width:100%;
    display: block;
    height:auto;
}
